/* Container for calendar */
.calendar-container {
    height: 620px; /* Fixed height for the container */
    width: 100%; /* Full width of the parent */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow */
}

/* Wrapper for calendar */
.calendar-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: white;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Hide scrollbars */
}

/* FullCalendar styling */
.fc {
    font-family: Inter, sans-serif; /* Font family */
}

/* Style for day grid day cells */
.fc .fc-daygrid-day {
    background: transparent;
    border: 1px solid #76717133;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* For positioning event titles */
}

/* Style for column header cells */
.fc .fc-col-header-cell-cushion {
    color: #004365;
    background: #219ebc54;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 8px;
}

/* Style for day grid day top area */
.fc .fc-daygrid-day-top {
    border: none;
    background: transparent;
}

/* Style for day grid day content */
.fc .fc-daygrid-day-content {
    border: none;
    position: relative; /* To handle positioning of date numbers */
}

.fc-daygrid-day-top {
    height: 50px;
}

/* Center the title and style the header */
.fc-toolbar {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fc-toolbar-chunk:first-child {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.fc-toolbar-chunk:nth-child(2) {
    display: flex;
    justify-content: center;
    flex: 2;
}

.fc-toolbar-chunk:last-child {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.fc-button-group {
    padding-right: 16px;
}

/* Customize navigation buttons */
.fc-prev-button,
.fc-next-button {
    background-color: #219ebc;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    transition: background-color 0.3s ease;
}

.fc-prev-button:hover,
.fc-next-button:hover {
    background-color: #126985;
}

.fc-event-title {
    background-color: #219ebc;
    color: white; /* Ensure the text is readable */
    padding: 4px 8px; /* Optional: Add some padding for better visual separation */
    border-radius: 4px; /* Optional: Give the event title rounded corners */

    /* Ensure the event title is fully visible */
    white-space: normal; /* Allow the text to wrap */
    overflow: visible; /* Make sure the text doesn't get clipped */
    word-wrap: break-word; /* Break words if they are too long */
    max-width: none; /* Remove any width limitation */
}

.fc-event-time {
    display: none;
}
